<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <title>Countries List</title>
</head>
<body>
  <header>
    <nav class="navbar fixed-top navbar-light bg-dark text-white py-3">
      <div class="container-fluid">
        <a class="navbar-brand text-white display-4" href="#">Countries Information</a>
      </div>
    </nav>
  </header>
  <div class="container mt-9 mb-150">
    <section>
      <div class="text-dark">
        <h2>Countries List</h2>
        <p>On this page you can find a list about the countries</p>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 mb-5" *ngFor='let key of objectKeys(countries)'>
          <a [routerLink]= "['/country', countries[key]['All']['country']]" class="card w-95 text-decoration-none text-dark">
            <img class="card-img-top" src="https://flagcdn.com/256x192/{{countries[key]['All']['abbreviation'] | lowercase }}.png" alt="Card image cap">
            <div class="card-body overflow-auto">
              <h5 class="card-title">{{ countries[key]['All']['country'] }}</h5>
              <p class="card-text"> <b>Location:</b> {{ countries[key]['All']['location'] }}</p>
              <p class="card-text"> <b>Population:</b> {{ countries[key]['All']['population'] }}</p>
              <p class="card-text"> <b>Country Code:</b> {{ countries[key]['All']['abbreviation'] }}</p>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/WHO/" role="button"
          ><i class="bi bi-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://mobile.twitter.com/who" role="button"
          ><i class="bi bi-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.who.int/" role="button"
          ><i class="bi bi-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/who/" role="button"
          ><i class="bi bi-instagram"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/WorldHealthOrganization/" role="button"
          ><i class="bi bi-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Corona News</a>
    </div>
    <!-- Copyright -->
  </footer>
  
</body>
</html>

